<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CA105G3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>FoodOrderServlet</servlet-name>
		<servlet-class>com.foodorder.controller.FoodOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodOrderServlet</servlet-name>
		<url-pattern>/foodorder/foodorder.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderDetailServlet</servlet-name>
		<servlet-class>com.orderdetail.controller.OrderDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderDetailServlet</servlet-name>
		<url-pattern>/orderdetail/orderdetail.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PPTToolServlet</servlet-name>
		<servlet-class>com.ppttool.controller.PPTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PPTToolServlet</servlet-name>
		<url-pattern>/ppt/ppt.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PPTImgServlet</servlet-name>
		<servlet-class>com.ppttool.controller.PPTImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PPTImgServlet</servlet-name>
		<url-pattern>/ppt/pptImg.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PPTToolService</servlet-name>
		<servlet-class>com.ppttool.model.PPTToolService</servlet-class>
	</servlet>
	
  	<servlet>
		<servlet-name>MedicalOrderServlet</servlet-name>
		<servlet-class>com.medicalorder.controller.MedicalOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MedicalOrderServlet</servlet-name>
		<url-pattern>/medicalOrder/medicalOrderServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MedicalOrderImgServlet</servlet-name>
		<servlet-class>com.medicalorder.controller.MedicalOrderImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MedicalOrderImgServlet</servlet-name>
		<url-pattern>/medicalOrder/medicalOrderServletImg.do</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>MedicalOrderService</servlet-name>
		<servlet-class>com.medicalorder.model.MedicalOrderImgService</servlet-class>
	</servlet>
	
</web-app>